<img align="left" style="padding-right:10px;" width="150" src="www/320px-Star_Wars_Logo.svg.png">

*Este notebook forma parte del TEMA 1.4. HERRAMIENTAS DE ANÁLISI: PROGRAMACIÓN EN R Y PROGRAMACIÓN EN PYTHON del MÓDULO 1: HERRAMIENTAS BIG DATA del master Máster en Big Data & Data Science de la Universitat de Barcelona - IL3 - FORYMAT elaborado por Ferran Carrascosa Mallafrè.*

[Índice](modulo1_tema4_Py_00_indice.ipynb)

<a href="https://colab.research.google.com/github/griu/mbdds_fc20/blob/master/Python/importa_starwars.ipynb" target="_parent"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab" title="Abre y Ejecuta en Google Colaboratory"></a>
: Padawan! Cuando inicias sesión en Colab, debes clonar el repositorio y mover el directorio de trabajo.

In [ ]:
if 'google.colab' in str(get_ipython()):
    !git clone https://github.com/griu/mbdds_fc20.git /content/mbdds_fc20
    !git pull
    %cd /content/mbdds_fc20/Python
    !python -m pip install -r requirementsColab.txt

# IMPORTAR DATOS DE STARWARS SWAPI

Datos procesados a partir de https://swapi.dev/documentation#root.

In [1]:
import requests
import pandas as pd
import numpy as np

In [2]:
# exec(open('get_entity.py').read())
def get_entity(entity = None, url_base = 'http://swapi.dev/api/'):
# https://swapi.dev/documentation#root
    
    page_num = 1
    results_acum = []
    entity_list = ["films","people","planets","species","starships","vehicles"]
    
    if(entity not in entity_list):
        page_num = None
        print('Call a valid entity: ' + ','.join(entity_list))
    
    while(page_num is not None):
        url = "".join([url_base, entity, '/?page=', str(page_num)])
        rjson = requests.get(url).json()
        results_acum = results_acum + rjson['results']
        if(rjson['next'] is not None):
            page_num = page_num + 1
        else:
            page_num = None
            
    if (len(results_acum) > 0):
        results_df = pd.DataFrame(results_acum)
    else:
        results_df = entity_list
    
    return(results_df)

def str2num(df,num_list):
    num_list = [lab for lab in num_list if lab in df.columns]
    num_list = [lab for lab in num_list if  df[lab].dtype==object]
    for x in num_list:
        if (x=="crew"):
            df.loc[df[x] == "30-165",x] = "165"
        df[x] = pd.to_numeric(df[x].replace('[^0-9\.-]', '', regex=True), errors='coerce')
    return(df)

In [3]:
res = get_entity()

Call a valid entity: films,people,planets,species,starships,vehicles

In [4]:
res

['films', 'people', 'planets', 'species', 'starships', 'vehicles']

In [5]:
films_df = get_entity("films")
people_df = get_entity("people")
planets_df = get_entity("planets")
species_df = get_entity("species")
starships_df = get_entity("starships")
vehicles_df = get_entity("vehicles")

In [6]:
people_num = ["height","mass","birth_year"]
planets_num = ["diameter","rotation_period","orbital_period","population","surface_water"]
species_num = ["average_height","average_lifespan"]
starships_num = ["passengers","length","crew","cost_in_credits","cargo_capacity","hyperdrive_rating","MGLT"]
vehicles_num = ["cargo_capacity","cost_in_credits","crew","length","max_atmosphering_speed","passengers"]

In [7]:
people_df2 = str2num(people_df,people_num)
planets_df2 = str2num(planets_df,planets_num)
species_df2 = str2num(species_df,species_num)
starships_df2 = str2num(starships_df,starships_num)
vehicles_df2 = str2num(vehicles_df,vehicles_num)

In [8]:
people_df2.to_pickle("www/people_df.pkl")
planets_df2.to_pickle("www/planets_df.pkl")
species_df2.to_pickle("www/species_df.pkl")
starships_df2.to_pickle("www/starships_df.pkl")
vehicles_df2.to_pickle("www/vehicles_df.pkl")

In [9]:
vehicles_df2.describe()

,cost_in_credits,length,max_atmosphering_speed,crew,passengers,cargo_capacity
count,21.000000,38.000000,38.000000,39.000000,38.000000,3.100000e+01
mean,70008.333333,20.466842,1012.131579,8.179487,36.973684,1.316797e+05
std,99279.640830,39.306859,3191.612032,23.512451,102.298843,4.734958e+05
min,2500.000000,1.500000,30.000000,0.000000,0.000000,0.000000e+00
25%,8000.000000,3.885000,100.000000,1.000000,0.000000,1.000000e+01
50%,15000.000000,9.550000,380.000000,1.000000,1.000000,8.000000e+01
75%,75000.000000,16.825000,815.000000,4.000000,13.500000,5.800000e+03
max,350000.000000,210.000000,20000.000000,140.000000,500.000000,2.000000e+06

<a href="https://colab.research.google.com/github/griu/mbdds_fc20/blob/master/Python/importa_starwars.ipynb" target="_parent"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab" title="Abre y Ejecuta en Google Colaboratory"></a>