<img align="left" style="padding-right:10px;" width="150" src="www/320px-Star_Wars_Logo.svg.png">

*Este notebook forma parte del TEMA 1.4. HERRAMIENTAS DE ANÁLISI: PROGRAMACIÓN EN R Y PROGRAMACIÓN EN PYTHON del MÓDULO 1: HERRAMIENTAS BIG DATA del Máster en Big Data & Data Science de la Universitat de Barcelona - IL3 - FORYMAT elaborado por Ferran Carrascosa Mallafrè.*

< [Gráficos con matplotlib](modulo1_tema4_Py_20_matplotlib.ipynb) | [Índice](modulo1_tema4_Py_00_indice.ipynb) | [Colecciones de objetos: numpy](modulo1_tema4_Py_31_numpy.ipynb) >

[<span style="color:white;background-color:#1E90FF;font-size: 110%;border:2px solid #4682B4;text-decoration:underline" title="Abre y Ejecuta en Google Colaboratory">|  Abre en Colab  |</span>](https://colab.research.google.com/github/griu/mbdds_fc20/blob/master/Python/modulo1_tema4_Py_30_colec_obj.ipynb)*: <span style="color:rgba(255, 99, 71, 0.8)">Padawan! Cuando inicies sesión en Colab, prepara el entorno ejecutando el siguiente código.</span>*

In [1]:
if 'google.colab' in str(get_ipython()):
    !git clone https://github.com/griu/mbdds_fc20.git /content/mbdds_fc20
    !git -C /content/mbdds_fc20 pull
    %cd /content/mbdds_fc20/Python
    !python -m pip install -r requirementsColab.txt

# COLECCIONES DE OBJETOS

## DEFINCIÓN DE LOS OBJETOS

### TIPO BÁSICOS

En Python, el tipo de dato se fija en la creación del objeto.

Los principales tipo básicos son:

 | Ejemplo | Constructores | Tipo de dato |
 | ------- | ------------- | ------- | 
 | x = "Hola Mundo" | x = str("Hello World") | str |
 | x = 20 | x = int(20) | int |
 | x = 20.5 | x = float(20.5) | float |
 | x = True | x = bool(5) | bool |
 
Para saber el tipo de un objeto, utiliza `type()`.

> **Recuerda**: Para saber el tipo del objeto utiliza `type()`.

In [2]:
a = 3 > 4
print("El tipo de 'a' es:",type(a),"y vale",a)

El tipo de 'a' es: <class 'bool'> y vale False

####  OPERACIONES CON BOOLEANOS

Se utiliza `and`, `or` and `not` para operar con `True` y `False`.

In [3]:
True or not True

True

####  COMPARADORES BOOLEANOS

Los típicos: `<`, `<=`, `>`,`>=`

Y además.

In [4]:
3 == 4.  # igualdad

False

In [5]:
5 != 5  # desigualdad

False

Comparación de objetos con `is` y `is not`

In [6]:
a = "Soy string"
type(a) is str

True

In [7]:
a = 45.
type(a) is not int

True

> **Recuerda**: Para negar expresiones lógicas, se utiliza `not`.

In [8]:
not (True or not False)

False

####  *CASTINGS*

Utiliza los constructores de cada tipo para realizar *casting*.

In [9]:
print('True es',int(True),'y False es',int(False))

True es 1 y False es 0

### LISTAS

Sus elementos van entre corchetes y separados por comas: `[ele1, elem2, ...]`. 

Sus elementos pueden ser objetos de distinto tipo.

In [10]:
a = True
b = "Texto"
c = 3.1416
d = [a, b, c]
d

[True, 'Texto', 3.1416]

#### LONGITUD

Con `len()` se obtiene el número de elementos.

In [11]:
len(d)

3

#### OPERACIONES CON LISTAS

Se puede concatenar listas con `+`.

In [12]:
[1,2,3] + [4,5,6] # suma listas

[1, 2, 3, 4, 5, 6]

Incluso repetirlas con `*`

In [13]:
[1,2,3] * 2  # multiplicación por escalar

[1, 2, 3, 1, 2, 3]

Buscar si la lista contiene (o no contiene) un elemento con `in` (resp. `not in`).

In [14]:
a = 'estoy'
b = ['aquí','estoy']
a in b

True

In [15]:
c = ['aquí','no estoy']
a not in c

True

Mínimos y máximos.

In [16]:
a = [3,1,5]
min(a)

1

#### OPERACIONES CON TEXTO

En Python el tipo de texto `str` se comporta como una lista.

In [17]:
a = 'tengo longitud 17'
len(a)

17

Concatenar *strings* con `+`.

In [18]:
a = "El símbolo suma" + " concatena" + " el texto"
a

'El símbolo suma concatena el texto'

El texto también se multiplica

In [19]:
a = "abc" * 3
a

'abcabcabc'

Hay que tener cuidado con sumar texto y otros tipos (int, float, bool).

In [20]:
a = "Texto más " + 24
a

TypeError: must be str, not int

Para evitar el error, antes hay que hacer casting con el constructor `str()`.

In [21]:
a = "Texto más " + str(24)
a

'Texto más 24'

Un alternativa para concatenar texto contenido en una lista es `''.join()`.

In [22]:
a = ["Soy","texto","en","lista"]
' '.join(a)

'Soy texto en lista'

De esta forma es fácil cambiar el carácter de separación.

In [23]:
'-'.join(a)

'Soy-texto-en-lista'

### TUPLAS

Sus elementos van entre paréntesis y separados por comas: `(ele1, elem2, ...)`.

In [24]:
a = (1,2,3)
a

(1, 2, 3)

Permiten realizar varias asignaciones de objetos en una misma expresión.

In [25]:
a, b = 2, 6
print(a,b)

2 6

Es habitual utilizar tuplas para devolver varios objetos en una misma función.

In [26]:
def desayuno(bacon, huevos):
    return bacon, huevos

bacon, huevos = desayuno(bacon = "muy hecho", huevos = 2)

print("Quiero el bacon", bacon,"y",huevos,"huevos")

Quiero el bacon muy hecho y 2 huevos

> **Recuerda**: Son inmutables. Una vez fijado su valor, ya no tiene sentido modificarlo!

### RANGOS

Son un caso especial de tuplas, definidas como secuencias.

In [27]:
a = range(3,6)
a

range(3, 6)

Para convertirlos a lista.

In [28]:
list(a)

[3, 4, 5]

### DICCIONARIOS

Sus elementos van entre llaves, separados por comas con una clave:  `{'clave1': val1, 'clave2': val1,...}`

Hay distintas formas de declararlos, todas equivalentes.

In [29]:
a = dict(uno=1, dos=2, tres=3)
b = {'uno': 1, 'dos': 2, 'tres': 3}
c = dict(zip(['uno', 'dos', 'tres'], [1, 2, 3]))
d = dict([('dos', 2), ('uno', 1), ('tres', 3)])
e = dict({'tres': 3, 'uno': 1, 'dos': 2})
a == b == c == d == e

True

> **Sabías que**: Dentro de los elementos de un diccionario no hay una ordenación prefijada.

Se accede a sus elementos por la clave.

In [30]:
a["uno"]

1

Para consultar las claves.

In [31]:
a.keys()

dict_keys(['uno', 'dos', 'tres'])

Obtener la lista de pares (clave,valor) con `items()`.

In [32]:
a.items()

dict_items([('uno', 1), ('dos', 2), ('tres', 3)])

#### FILTROS EN LISTAS

Utiliza índices enteros positivos (cero incluido).

In [33]:
a = [3,7,2,9,2,8,6]
a[0]

3

> **Recuerda**: Python empieza sus índices en 0, no 1.

Los negativos seleccionan empezando por la cola.

In [34]:
a[-2]

8

También se utilizan secuencias o *slices* definidos con `:`.

In [35]:
a[1:5]

[7, 2, 9, 2]

Secuencias con paso distinto a 1 añadiendo un tercer elemento: `ini:fin:paso`.

In [36]:
a[1:5:2]

[7, 9]

Puedes omitir el inicio o el fin para extender la secuencia.

In [37]:
a[:4]

[3, 7, 2, 9]

O, los dos.

In [38]:
a[:]

[3, 7, 2, 9, 2, 8, 6]

Los strings siguen comportándose como listas en este aspecto, ya que permiten aplicar filtros dentro del texto.

In [39]:
a = "no soy una lista"
a[3:]

'soy una lista'

#### *LIST COMPREHENSION*

La comprensión de listas o *list comprehension* es una forma elegante de automatizar cálculos con listas.

Por ejemplo, si se quiere invertir la secuencia del 1 al 4.

In [40]:
a = range(1,5)
b = [1 / x for x in a]
b

[1.0, 0.5, 0.3333333333333333, 0.25]

También admite condicionales.

In [41]:
a = [0,1,0,2,0,3,4,0]
b = [1 / x for x in a if x != 0]
b

[1.0, 0.5, 0.3333333333333333, 0.25]

Los diccionarios, a su manera, admiten también este recurso.

In [42]:
a = {'uno': 1, 'dos': 2, 'tres': 3}
b = {k: v*v for k,v in a.items()}
b

{'dos': 4, 'tres': 9, 'uno': 1}

Continúa ahora con los objetos de tipo **numpy**.

< [Gráficos con matplotlib](modulo1_tema4_Py_20_matplotlib.ipynb) | [Índice](modulo1_tema4_Py_00_indice.ipynb) | [Colecciones de objetos: numpy](modulo1_tema4_Py_31_numpy.ipynb) >

[<span style="color:white;background-color:#1E90FF;font-size: 110%;border:2px solid #4682B4;text-decoration:underline" title="Abre y Ejecuta en Google Colaboratory">|  Abre en Colab  |</span>](https://colab.research.google.com/github/griu/mbdds_fc20/blob/master/Python/modulo1_tema4_Py_30_colec_obj.ipynb)*: <span style="color:rgba(255, 99, 71, 0.8)">Padawan! Cuando inicies sesión en Colab, prepara el entorno ejecutando el siguiente código.</span>*